@using SchoolShop.Model
@{
    List<ShopCart> list = this.ViewBag.list;
    decimal money= this.ViewBag.money;
}
<div class="cart-section">
    <p>购物车(<span class="scls">@(list.Count)</span>)</p>
    <div class="hidden-cart">
        <p>购物车(<span class="scls">@(list.Count)</span>)</p>
    </div>
    <div class="hidden-cart-c">
        <ul id="cartUL">
            @foreach (var item in list)
{
    <li id="id@(item.ShopCartID)">
        <a href="/Product/ProductDetail?pid=@item.PID"><img src="@item.ImgURL" height="60" /></a>
        <p><a href="/Product/ProductDetail?pid=@item.PID">@item.ProductName</a></p>
        <pre>@(item.Price)元 x 1</pre>
        <ins onclick="insclick(@item.ShopCartID,@item.Price);">x</ins>
    </li>
}
            
            
        </ul>
        <div class="cart-btn">
            <p>共计<strong class="scls">@(list.Count)</strong> 件商品<span>合计：<strong id="totalmoney">@(money)</strong>元</span></p>
            <input type="button" id="jiesuan" value="去结算" />
        </div>
        <!--------购物车暂无产品--------------->
        <div class="cart-not hidden">购物车中还没有商品，赶紧选购吧！</div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("#jiesuan").click(function(){
            $.post("/User/CreateOrder",{},function(msg){
                if(msg=="ok"){
                    window.open("https://netpay.cmbchina.com/netpayment/BaseHttp.dll?PrePayC1?","_black");
                }
                ;})
            
        })
    
    })

    function insclick(id, price) {
        $.post("/Product/DelCart", { id: id }, function (msg) {
            if (msg == "ok") {
                $(".scls").each(function (i, u) {
                    var num = parseInt($(u).text()) - 1;
                    $(u).text(num);
                });
                var money = parseInt($("#totalmoney").text()) - parseInt(price);
                $("#totalmoney").text(money);
                $("#id" + id).remove();
            }
        }, "text");
    }
</script>